@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu {
        @apply mx-auto py-5 w-full max-w-4xl; 
    }

    .menu ul {
        @apply list-none;
    }

    .menu a {
        @apply no-underline;
    }

    .spinner {
        @apply flex justify-center items-center;

        & div {
            @apply animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500;
        }
    }

    .cabecalho {
        @apply flex justify-between items-center text-2xl;

        & li {
            @apply mr-20 inline;

            & a {
                @apply text-gray-600 hover:text-gray-900 hover:underline;
            }
        }
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    
    @keyframes slideDown {
      from { transform: translateY(-20px); opacity: 0; }
      to { transform: translateY(0); opacity: 1; }
    }
    
    .animate-fade-in {
      animation: fadeIn 1s ease-in;
    }
    
    .animate-slide-down {
      animation: slideDown 1s ease-out;
    }

    